

.login {
    .card{
        border-radius: 0.65rem;
    }
    .text-browsers {
        position: absolute;
        bottom: -45px;
        left: 0;
        font-size: 13px;
    }
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 23px;
        margin-bottom: 3px;
    }
    .config-lang {
        float: right;
        padding-top: 6px;
        .select-lang {
            width: fit-content;
            border: 0;
            display: initial;
            padding: 0 2rem 0 4px;
            font-size: 13px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
        }
        .fa-globe{
            vertical-align: middle;
            font-size: 14px;
        }
    }
    
    .login-header {
        padding: 1.25rem 1.25rem 1.05rem;
        border-bottom: 1px solid #BABABA;
        img {            
            height: 100%;
            width: 28px;
        }
        h5 {
            padding-left: 12px;
            font-size: 1.05rem;
        }
    }
    .login-content{
        width: 100%;
        height: 74%;
        a {
            font-size: 13px;
        }
        .description {
            p {
                width: 340px;
            }
            a{
                color: #313131;
                margin: 0.55rem 0 1.4rem 0;

            }
        }
        .log-title {            
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 1.6rem;
            .separator {
                width: 45%;
                height: 3px;
                background-color: var(--upch-secondary);                
                margin: 0 auto;
            }
        }
    }
    form {
        width: 300px;
        margin: 0 auto;
        .login-control {
            background: #E9ECEF;
            border: 1px solid #E9ECEF;
            border-radius: 6px;
            padding: .325rem .65rem;
            &:focus {   
                    color: #000000;
                    background-color: #E9ECEF;
                    border-color: #E9ECEF;
                    outline: 0;
                    box-shadow: none;
            }
        }
    }
    .carousel-item {
        img{
            object-fit: cover;
            border-radius: 0.65rem 0 0 0.65rem;
            height: 79.7vh;
        }
    }
    .carousel-inner {
        border-radius: 0.65rem 0 0 0.65rem;
    }
    .carousel-caption {
        left: 6%;
    }
    .carousel-indicators {
        justify-content: flex-start;
        margin-left: 5%;
    }
    .carousel-indicators [data-bs-target] {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media (max-width:767px){
	
	.login {
		.card {
			border-radius: 0;
		}
		.vh-80 , .vh-95 {
			height: 100vh;
		}
        .login-content {
            height: 65vh;
        }
        .text-browsers {
            display:none;
        }
	}
}