

.login {
    .card{
        border-radius: 0.65rem;
    }
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 23px;
        margin-bottom: 3px;
    }
    .config-lang {
        float: right;
        padding-top: 6px;
        .select-lang {
            width: fit-content;
            border: 0;
            display: initial;
            padding: 0 2rem 0 0;
            font-size: 13px;
        }
        .fa-globe{
            vertical-align: middle;
            font-size: 14px;
        }
    }
    
    .login-header {
        padding: 1.25rem 1.25rem 1.05rem;
        border-bottom: 1px solid #BABABA;
        img {            
            height: 100%;
            width: 28px;
        }
        h5 {
            padding-left: 12px;
            font-size: 1.05rem;
        }
    }
    .login-content{
        padding: 2rem 0;
        a {
            font-size: 13px;
        }
        .log-title {            
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 1.6rem;
            .separator {
                width: 45%;
                height: 3px;
                background-color: var(--upch-secondary);                
                margin: 0 auto;
            }
        }
    }
    form {
        width: 50%;
        margin: 0 auto;
        .login-control {
            background: #E9ECEF;
            border: 1px solid #E9ECEF;
            border-radius: 6px;
            padding: .325rem .65rem;
        }
    }
    .carousel-item {
        img{
            object-fit: cover;
            border-radius: 0.65rem 0 0 0.65rem;
            height: 79.7vh;
        }
    }
    .carousel-inner {
        border-radius: 0.65rem 0 0 0.65rem;
    }
    .carousel-caption {
        left: 6%;
    }
    .carousel-indicators {
        justify-content: flex-start;
        margin-left: 5%;
    }
    .carousel-indicators [data-bs-target] {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 6px;
        margin-left: 6px;
    }
}