@media(max-width:767px){
    #accordionExampleCourses {
        .accordion-item { 
            display:none;
            .accordion-button {
                p {
                    width: 82%;
                }
            }
        }
        .accordion-body {
            .title-group {
                span {
                    display: block;
                    font-weight: 500;
                }
            }
            
        }
        
    margin-bottom: 3rem;
            .icon-obli, .icon-ele, .icon-com {
                margin: 0!important;
                position: absolute;
                right: 42px;
                top: 30%!important;
            }
    }

    .accordion-payment { 

        .accordion-body { 
            .d-flex {
                display: block!important;
            }
            
        }
        }
       
        .accordion-flush {
        .accordion-item {
            .accordion-button {
                padding: 0.9rem 0 0.9rem 0 !important;
                background: white !important;
                border: 0 !important;
                max-height: 42px;
                .d-flex {
                    padding: 0!important
                }
                small, img {
                    display: none;
                }
                .form-check-input {
                    position: inherit!important;
                }
            }
            .accordion-body {
                div.text-center {
                    padding: 0 1.5rem;
                }
                .img-responsive {
                    width: 100%;
                }
                .img-safetypay {
                    display:block!important;
                    margin: 1rem 0;
                }
            }
            
        }
        }
        .accordion-pensiones {
        .container-checkbox {
            margin-bottom: 18px;
            left: 0%!important;
            top: 3px;
        }
        display: inherit!important;
        }
}