body {
    background-color: var(--upch-web-bg);
    overflow-x: hidden;
	margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

p, label, a , select, input{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;

}
p {
    font-size: 15px;
}

:focus {
    outline: none;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }

a {
    color: var(--upch-primary-dark);
}




