.vh-95{
    height: 95vh;
}

.vh-80 {
    height: 80vh;
}
.va-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-send {
    background: var(--upch-primary);
    border: 1px solid var(--upch-primary);
    color: white;
    width: 212px;
    height: 38px;
    border-radius: 10px;
    font-size: 16px;
    padding-bottom: 7px;
}

.container-checkbox {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 13px;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: white;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: rgb(247, 247, 247);
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 4px;
			top: 2px;
			width: 4px;
			height: 7px;
			border: solid var(--upch-primary-dark);
			border-width: 0 1px 1px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: white;
	border: 1px solid var(--upch-primary-dark);
	border-radius: 3px;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
