.vh-95{
    height: 95vh;
}

.vh-75 {
    height: 75vh;
}
.va-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-send {
    background: var(--upch-primary);
    border: 1pxx solid var(--upch-primary);
    color: white;
    width: 212px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
}

.container-check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			& ~ .checkmark {
				background-color: white;
				border-radius: 1px solid black;
				&:after {
					display: block;
				}
			}
		}
	}
	&:hover {
		input {
			& ~ .checkmark {
				background-color: #E0E0E0;
			}
		}
	}
	.checkmark {
		&:after {
			left: 9px;
			top: 5px;
			width: 5px;
			height: 10px;
			border: solid black;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.checkmark {
	position: absolute;
    top: 0;
    left: -23px;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
