
.va-middle{
    display: flex;
    justify-content: center;
    align-items: center;

}
.red-primary {
	color: var(--upch-primary);
}
.btn-send {
    background: var(--upch-primary);
    border: 1px solid var(--upch-primary);
    color: white;
    width: 205px;
    height: 38px;
    border-radius: 10px;
    font-size: 16px;
    padding-bottom: 7px;
	&:hover {
		color: #ffffff;
    	background-color: var(--upch-primary-dark);
    	border: 1px solid var(--upch-primary-dark);
	}
}
.btn-primary {
	background: var(--upch-primary)!important;
    border: 1px solid var(--upch-primary)!important;
    color: white;
	border-radius: 0.45rem;
	&:hover {
		color: #ffffff;
    	background-color: var(--upch-primary-dark)!important;
    	border: 1px solid var(--upch-primary-dark)!important;
	}
	&:focus {
		box-shadow: none!important;
		outline: 0!important;
	}
}
.container-checkbox {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 13px;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: white;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: rgb(247, 247, 247);
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 4px;
			top: 2px;
			width: 4px;
			height: 7px;
			border: solid var(--upch-primary-dark);
			border-width: 0 1px 1px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: white;
	border: 1px solid var(--upch-primary-dark);
	border-radius: 3px;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

.btn-250 {
	width: 250px;

}

.w-230 {
	width: 230px;

}

.bg-primary-upch {
	background-color: var(--upch-primary);
}





@media (max-width:767px){
	.d-sm-none {
		display: none;
	}
	
}
.fw-medium {
	font-weight: 500;
}

.css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


.css-checkbox + label {
	position: relative;
	font-size: 15px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	height: 16px;
	color: rgb(0, 0, 0);
	@media(max-width:767px) {
		line-height: 1;
		font-size: 14px;
	}
}

.css-checkbox + label::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255 213 0);
	border-radius: 4px;
	box-shadow: none;
	position: relative;
    top: 1px;
}
.css-checkbox:checked + label::before {
  background-color: rgb(255 213 0);
	border-color: rgb(255 213 0);
}
.css-checkbox:checked + label::after {
	content: " ";
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: center center;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	left: 0px;
	top: 1px;
	text-align: center;
	background-color: transparent;
	font-size: 10px;
	height: 16px;
	width: 16px;
}


.w-190 {
	width: 190px;
}
