@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
:root {
  --upch-primary: #B80A28;
  --upch-primary-dark: #9b001b;
  --upch-secondary: #FFD500;
  --upch-dark: #a70723;
  --upch-web-bg: #F4F4F4;
  --upch-footer-bg: #C3C3C3;
}

.vh-95 {
  height: 95vh;
}

.vh-80 {
  height: 80vh;
}

.va-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-send {
  background: var(--upch-primary);
  border: 1px solid var(--upch-primary);
  color: white;
  width: 212px;
  height: 38px;
  border-radius: 10px;
  font-size: 16px;
  padding-bottom: 7px;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox input:checked ~ .checkmark {
  background-color: white;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: rgb(247, 247, 247);
}
.container-checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid var(--upch-primary-dark);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid var(--upch-primary-dark);
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

body {
  background-color: var(--upch-web-bg);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

a {
  color: var(--upch-primary-dark);
}

.footer {
  background-color: var(--upch-footer-bg);
  height: 45px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 14px;
  margin-bottom: 0;
}

.login .card {
  border-radius: 0.65rem;
}
.login h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-bottom: 3px;
}
.login .login-header {
  padding: 1.25rem 1.25rem 1.05rem;
  border-bottom: 1px solid #BABABA;
}
.login .login-header img {
  height: 100%;
  width: 28px;
}
.login .login-header h5 {
  padding-left: 12px;
  font-size: 1.05rem;
}
.login .login-content {
  padding: 2rem 0;
}
.login .login-content a {
  font-size: 13px;
}
.login .login-content .log-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
.login .login-content .log-title .separator {
  width: 45%;
  height: 3px;
  background-color: var(--upch-secondary);
  margin: 0 auto;
}
.login form {
  width: 50%;
  margin: 0 auto;
}
.login form .login-control {
  background: #E9ECEF;
  border: 1px solid #E9ECEF;
  border-radius: 6px;
  padding: 0.325rem 0.65rem;
}
.login .carousel-item img {
  object-fit: cover;
  border-radius: 0.65rem 0 0 0.65rem;
  height: 79.7vh;
}
.login .carousel-inner {
  border-radius: 0.65rem 0 0 0.65rem;
}
.login .carousel-caption {
  left: 6%;
}
.login .carousel-indicators {
  justify-content: flex-start;
  margin-left: 5%;
}
.login .carousel-indicators [data-bs-target] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
}

/*# sourceMappingURL=style.css.map */
