@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url(../assets/icons/font-awesome/css/font-awesome.min.css);
@import url(../assets/icons/font-awesome/css/all.css);
:root {
  --upch-primary: #B80A28;
  --upch-primary-dark: #9b001b;
  --upch-red-dark: #8A0018;
  --upch-red-light:rgb(176 19 51 / 1%);
  --upch-red-lighter: rgb(176 19 51 / 5%);
  --upch-secondary: #FFD500;
  --upch-secondary-light: rgb(255 213 0 / 2%);
  --upch-dark: #a70723;
  --upch-web-bg: #F4F4F4;
  --upch-footer-bg: #C3C3C3;
  --upch-web-required: #FF5B1F;
  --upch-web-elective: #85754D;
  --upch-web-complementary: #F6CE00;
  --upch-blue: #174AE3;
  --font-upch: "Barlow", sans-serif;
}

.table {
  --bs-table-striped-bg: #f6f6f678;
}

.va-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-primary {
  color: var(--upch-primary);
}

.btn-send {
  background: var(--upch-primary);
  border: 1px solid var(--upch-primary);
  color: white;
  width: 205px;
  height: 38px;
  border-radius: 10px;
  font-size: 16px;
  padding-bottom: 7px;
}
.btn-send:hover {
  color: #ffffff;
  background-color: var(--upch-primary-dark);
  border: 1px solid var(--upch-primary-dark);
}

.btn-primary {
  background: var(--upch-primary) !important;
  border: 1px solid var(--upch-primary) !important;
  color: white;
  border-radius: 0.45rem;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: var(--upch-primary-dark) !important;
  border: 1px solid var(--upch-primary-dark) !important;
}
.btn-primary:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox input:checked ~ .checkmark {
  background-color: white;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: rgb(247, 247, 247);
}
.container-checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid var(--upch-primary-dark);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid var(--upch-primary-dark);
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.btn-250 {
  width: 250px;
}

.w-230 {
  width: 230px;
}

.bg-primary-upch {
  background-color: var(--upch-primary);
}

@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}
.fw-medium {
  font-weight: 500;
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.css-checkbox + label {
  position: relative;
  font-size: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 16px;
  color: rgb(0, 0, 0);
}
@media (max-width: 767px) {
  .css-checkbox + label {
    line-height: 1;
    font-size: 14px;
  }
}

.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 213, 0);
  border-radius: 4px;
  box-shadow: none;
  position: relative;
  top: 1px;
}

.css-checkbox:checked + label::before {
  background-color: rgb(255, 213, 0);
  border-color: rgb(255, 213, 0);
}

.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 1px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 16px;
  width: 16px;
}

.w-190 {
  width: 190px;
}

body {
  background-color: var(--upch-web-bg);
  overflow-x: hidden;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-upch);
  font-weight: 500;
}

p, label, a, select, input, span, button {
  font-family: var(--font-upch);
  font-weight: 400;
}

::selection {
  background: var(--upch-primary-dark) !important;
  color: white;
}

p, label, a {
  font-size: 15px;
}

:focus {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

a {
  color: var(--upch-primary-dark);
}
a:hover {
  color: var(--upch-primary-dark);
}

.card {
  border-radius: 0.45rem;
  border: none;
}

.mx-auto {
  margin: 0 auto;
}

.text-primart {
  color: var(--upch-primary) !important;
}

.text-secondary {
  color: var(--upch-secondary) !important;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.page-wrapper {
  margin-top: 128px;
}
@media (max-width: 767px) {
  .page-wrapper {
    margin-top: 80px;
  }
}

.iphone .icon-obli, .iphone .icon-ele, .iphone .icon-com {
  width: 13px !important;
  width: 13px !important;
  margin: 0 !important;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.header .navbar.bg-primary-upch .nav-link {
  width: 100px;
  text-align: center;
  height: 40px;
  border-right: 1px solid var(--upch-red-dark);
  color: white;
}
.header .navbar.bg-primary-upch .nav-link.active {
  background: var(--upch-dark);
}
.header .navbar.bg-primary-upch .navbar-nav {
  border-left: 1px solid var(--upch-red-dark);
}
@media (max-width: 767px) {
  .header .navbar-brand svg {
    width: 120px;
  }
}
.header .icon-noti.dropdown-toggle:after {
  border: 0;
}
.header .feather {
  width: 21px;
  height: 21px;
}
.header .crop.crop-round-40 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 5px;
  background: var(--upch-secondary);
  border: 1px solid var(--upch-secondary) !important;
}
.header .crop.crop-round-40 span {
  color: white;
  position: relative;
  left: 7px;
  top: 2px;
  font-weight: 500;
  font-size: 14px;
}
.header .crop.crop-round-40 img {
  width: 36px;
}
.header .noti {
  position: absolute;
  top: 3px;
  left: 23px;
  font-size: 8px;
  padding: 0.15em 0.45em;
  line-height: 9px;
  font-weight: 400;
}

.btn-choosen {
  padding: 0;
}
.btn-choosen:hover i {
  transform: scale(1.1);
  box-shadow: 0 0 15px 0px rgba(184, 10, 40, 0.6196078431);
  border-radius: 62%;
  background: rgba(184, 10, 40, 0.21);
}
.btn-choosen i {
  font-size: 22px;
  vertical-align: middle;
  position: relative;
  top: 6px;
  left: -10px;
  color: var(--upch-primary);
}
.btn-choosen span {
  line-height: 0.4;
  font-size: 12.5px;
}
.btn-choosen span p {
  font-size: 13px;
  margin-left: 22px;
  color: var(--upch-primary);
}

a.stay-btn {
  font-size: 13px;
  margin-right: 1.5rem;
}

button.change-btn {
  background-color: var(--upch-dark);
  color: white;
  font-size: 13px;
  border-radius: 5px;
  padding: 0.25rem 0.9rem;
  text-decoration: none;
}

#myPopover {
  display: none;
}

.popover .modal-dialog {
  padding: 11px;
}

.popover-default .popover-title {
  margin-top: 0.5rem;
  color: #000 !important;
  background-color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
}

.popover-content p {
  line-height: 1.4;
}

.popover-footer {
  padding: 0.5rem 4px !important;
  background-color: #ffffff !important;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

@media (max-width: 767px) {
  .programm-display, .noti-display, .user-display {
    display: none !important;
  }
}
.footer {
  background-color: var(--upch-footer-bg);
  height: 45px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.modal-footer {
  align-items: center;
  justify-content: center;
  border-top: 0;
  margin-bottom: 1rem;
}
.modal-footer .btn-primary {
  padding: 0.25rem 3rem;
  font-size: 15px;
  border-radius: 6px;
}

.btn-close {
  opacity: 1 !important;
  width: 2em;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

.btn-sumilla {
  padding: 0;
  margin-left: 3px;
}
.btn-sumilla svg {
  vertical-align: initial;
  position: relative;
  top: -2px;
}

.icon-obli, .icon-ele, .icon-com {
  position: relative;
  top: 5px;
  height: 16px;
  font-size: 12px !important;
  width: 17px;
  line-height: 0;
  text-align: center;
  border-radius: 100%;
  color: white;
  padding: 0 !important;
  font-family: var(--font-upch);
}
.icon-obli span, .icon-ele span, .icon-com span {
  position: relative;
  left: 0px;
  top: -1px;
  vertical-align: initial;
}

.icon-obli {
  background: var(--upch-web-required);
  border: 1px solid var(--upch-web-required);
}

.icon-ele {
  background: var(--upch-web-elective);
  border: 1px solid var(--upch-web-elective);
}

.icon-com {
  border: 1px solid var(--upch-web-complementary);
  background: var(--upch-web-complementary);
}

.tooltip[data-color=required] .tooltip-inner {
  background-color: #FF5B1F;
}

.tooltip[data-color=required] .tooltip-arrow:before {
  border-right-color: #FF5B1F;
}

.tooltip[data-color=elective] .tooltip-inner {
  background-color: #85754D;
}

.tooltip[data-color=elective] .tooltip-arrow:before {
  border-right-color: #85754D;
}

.tooltip[data-color=complementary] .tooltip-inner {
  background-color: #F6CE00;
}

.tooltip[data-color=complementary] .tooltip-arrow:before {
  border-right-color: #F6CE00;
}

.tooltip[data-color=white] .tooltip-inner {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 4px 1px rgb(205, 205, 205);
  opacity: 1 !important;
  max-width: 200px;
  height: 120px;
  top: 50px;
}

.tooltip[data-color=white] .tooltip-arrow:before {
  border-bottom-color: white;
}

.tooltip.show {
  opacity: 1;
}

/*form styles*/
.steps-form {
  margin-top: 0;
}

.steps-form fieldset .form-body {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding-bottom: 20px;
  position: relative;
  text-align: left;
  width: 100%;
}

.steps-form fieldset .form-footer {
  text-align: right;
}

.steps-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  position: relative;
}

/*Hide all except first fieldset*/
.steps-form fieldset:not(:first-of-type) {
  display: none;
}

.steps-icon {
  padding: 0.9rem 0;
  overflow: hidden;
  color: var(--bs-gray-500);
  background: rgba(251, 185, 0, 0.0588235294);
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .steps-icon {
    padding: 0;
  }
}

.steps-icon .active {
  color: black;
}

.steps-icon li {
  list-style-type: none;
  font-size: 13px;
  width: 16.66%;
  float: left;
  position: relative;
  font-weight: 500;
  font-family: var(--font-upch);
}

.steps-icon li .step-round {
  width: 50px;
  height: 50px;
  line-height: 43px !important;
  display: block;
  font-size: 19px;
  color: #ffffff;
  background: white;
  border: 2px solid var(--bs-gray-300);
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  position: inherit;
  z-index: 2;
  text-align: center;
}
@media (max-width: 767px) {
  .steps-icon li .step-round {
    width: 29px;
    height: 30px;
    font-size: 12px;
    line-height: 22px !important;
  }
}

.steps-icon li .step-round i:before {
  color: var(--bs-gray-500);
}

.steps-icon li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--bs-gray-300);
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 1;
}
@media (max-width: 767px) {
  .steps-icon li:after {
    top: 14px;
  }
}

.steps-icon li:first-child:after {
  width: 50%;
  right: 0;
  left: auto;
}

.steps-icon li:last-child:after {
  width: 50%;
}

.steps-icon li.active .step-round {
  background: white;
  border-color: var(--upch-secondary);
}

.steps-icon li.active:after {
  border: 1px solid var(--upch-secondary);
}

.steps-icon li.active .step-round i:before {
  color: var(--upch-secondary);
}

.steps-icon li.completed .step-round, .steps-icon li.completed:after {
  background: var(--upch-secondary);
  border-color: var(--upch-secondary);
}

.steps-icon li.completed .step-round i:before {
  color: white;
}

.steps-icon li.completed .step-title {
  color: black;
}

.steps-icon .step-round i.fa-edit {
  padding-left: 3px;
  position: relative;
  top: -1px;
}

@media (max-width: 767px) {
  .step-title span {
    display: none;
  }
}

.steps-list-text {
  padding-left: 0.5rem;
  border-top: 1px solid #D9D9D9;
  padding-top: 0.5rem;
  margin-top: 1rem;
  display: none;
}
@media (max-width: 767px) {
  .steps-list-text {
    display: block;
  }
}

.site-home .steps-icon li .step-round {
  border: 2px solid var(--upch-secondary);
}
.site-home .steps-icon li .step-round i:before {
  color: var(--upch-secondary);
}
.site-home .steps-icon li:after {
  background: var(--upch-secondary);
}
.site-home .steps-icon li {
  color: #2B2B2B;
}

.form-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
}
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.search-input {
  border-right-color: white;
}

.form-control-sm, .form-select-sm, .input-group-text {
  border-radius: 0.32rem;
}
.form-control-sm:focus, .form-select-sm:focus, .input-group-text:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #d3d3d3;
}
.form-control-sm:disabled, .form-select-sm:disabled, .input-group-text:disabled {
  border: 1px solid var(--bs-gray-200);
  color: #788084;
}
s .form-control-sm:disabled::placeholder, s .form-select-sm:disabled::placeholder, s .input-group-text:disabled::placeholder {
  color: #788084;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn.next, .btn.siguiente {
  border-radius: 10px;
  width: 200px;
}

.btn.previous {
  border-radius: 10px;
  width: 200px;
  margin-right: 2rem;
  color: #fff;
  background-color: #828282;
  border-color: #828282;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 1px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 1px);
  background-image: -o-linear-gradient(top, #eeeeee, white 1px);
  background-image: linear-gradient(to bottom, #eeeeee, white 1px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
  left: 34px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-blue > .switch-input:checked ~ .switch-label {
  background: var(--upch-blue);
}

label.file {
  display: block;
  margin: 0;
  padding: 5px 1.5rem;
  width: auto;
  max-width: 400px;
  height: 31px;
  background-color: white;
  border: 1px solid #828282;
  color: black;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
label.file svg {
  height: 12px;
  width: 12px;
  position: relative;
  top: -2px;
}

label.file:hover {
  background: #ADADAD;
}

[type=file] {
  display: none;
}

.date:focus {
  box-shadow: none;
  outline: none;
}
.date .input-group-append {
  height: 30px;
}
.date .input-group-text {
  border-bottom-left-radius: 0;
  padding: 0 0.5rem;
  border-top-left-radius: 0;
  padding-top: 2px;
  height: 31px;
}

.pago-body .container-checkbox {
  margin-bottom: 18px;
  left: 50%;
}

.btn-outline-danger {
  color: var(--upch-primary);
  border-color: var(--upch-primary);
  border: 1.5px solid;
  border-radius: 0.45rem;
}
.btn-outline-danger span {
  font-weight: 500;
}
.btn-outline-danger:hover {
  background: var(--upch-red-lighter);
  color: var(--upch-primary);
  border-color: var(--upch-primary);
}

.btn-outline-info {
  color: var(--upch-blue);
  border-color: var(--upch-blue);
  font-weight: 500;
}
.btn-outline-info:hover {
  background: var(--upch-blue);
  color: white;
  border-color: var(--upch-blue);
}

.table-schedule .table {
  margin-bottom: 0;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0;
}
.table-schedule .table > :not(:first-child) {
  border-top: 1px solid var(--upch-primary);
}
.table-schedule .table-light {
  background: var(--upch-red-light);
  border-top: 1px solid var(--upch-primary);
}
.table-schedule .table > :not(caption) > * > * {
  background-color: white;
}
.table-schedule td {
  border-style: none solid solid none;
  padding: 10px;
}
.table-schedule thead th {
  background: var(--upch-red-light);
  border-bottom: 1px solid var(--upch-primary);
  border-top: 1px solid var(--upch-primary);
}
.table-schedule tbody th, .table-schedule tfoot th {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.table-schedule tbody tr td:last-child, .table-schedule tfoot tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.table-schedule thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid var(--upch-primary);
}
.table-schedule thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid var(--upch-primary);
}
.table-schedule tfoot tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}
.table-schedule tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table-schedule tr:first-child th {
  border-top-style: solid;
}
.table-schedule tr td:first-child {
  border-left-style: solid;
}

.border-body tbody tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}
.border-body tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.cal-wrapper {
  background: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20px;
  border-radius: 10px;
}

#calendar {
  font-family: var(--font-upch) !important;
}

.fc-scrollgrid {
  border-radius: 8px;
}

.fc-timegrid-slot-label {
  font-weight: 800;
}

.fc-timegrid-slots table tr {
  transition: all 0.15s ease;
}

.fc-timegrid-slots table tr :hover {
  background: rgba(176, 19, 51, 0.05) !important;
  transition: all 0.15s ease;
}

.fc-timegrid-slot-label[data-time*=":15"],
.fc-timegrid-slot-label[data-time*=":30"],
.fc-timegrid-slot-label[data-time*=":45"] {
  font-size: 80%;
  opacity: 0.5;
  font-weight: 400;
}

.fc .fc-highlight {
  background: #f16621 !important;
}

.fc-day-today {
  background-color: rgba(176, 19, 51, 0.05);
}

.fc-day-past {
  background-color: #f7edee;
}

th.fc-day-today:before {
  content: none;
  font-size: 80%;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.6;
}

th.fc-day-future:before {
  content: none !important;
  font-size: 80%;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.6;
}

th.fc-day-past:before {
  content: none;
  font-size: 80%;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.6;
}

th.fc-day-future:before {
  content: " ";
  font-size: 80%;
  line-height: 1;
  text-transform: uppercase;
}

.fc-timegrid-axis-frame:after {
  content: "&";
  background: white url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0002 17.3334C14.0335 17.3334 17.3335 14.0334 17.3335 10C17.3335 5.96671 14.0335 2.66671 10.0002 2.66671C5.96683 2.66671 2.66683 5.96671 2.66683 10C2.66683 14.0334 5.96683 17.3334 10.0002 17.3334ZM10.0002 0.833374C15.0418 0.833374 19.1668 4.95837 19.1668 10C19.1668 15.0417 15.0418 19.1667 10.0002 19.1667C4.9585 19.1667 0.833496 15.0417 0.833496 10C0.833496 4.95837 4.9585 0.833374 10.0002 0.833374ZM10.4585 10.7334L6.0585 13.3L5.41683 12.0167L9.0835 9.90837V5.41671H10.4585V10.7334Z' fill='%23B80A28'/%3E%3C/svg%3E%0A") no-repeat;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 11px;
  position: absolute;
  color: rgba(255, 255, 255, 0);
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 5px 4px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.fc .fc-button-primary:disabled {
  color: var(--upch-primary);
  background-color: var(--upch-red-light);
  border-color: var(--upch-primary);
}

.fc .fc-button-primary {
  color: var(--upch-primary);
  background-color: var(--upch-red-light);
  border-color: var(--upch-primary);
}
.fc .fc-button-primary:hover {
  color: var(--upch-primary);
  background-color: var(--upch-red-light);
  border-color: var(--upch-primary);
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  color: #fff;
  background-color: var(--upch-primary);
  border-color: var(--upch-primary);
}

.fc .fc-button {
  padding: 0em 0.55em 0.2em;
  border-radius: 0.45em;
}

.fc .fc-button .fc-icon {
  font-size: 1.3em;
}

.fc-col-header-cell, .fc-timegrid-axis {
  border: 1px solid var(--upch-primary);
}

.fc-scrollgrid-section.fc-scrollgrid-section-header .fc-scroller-harness .fc-scroller {
  overflow: hidden !important;
}

.nav-tabs.bancos .nav-item.show .nav-link, .nav-tabs.bancos .nav-link.active {
  color: #000000;
  background-color: #fff;
  border-color: transparent;
  border-bottom: 2px solid var(--upch-primary) !important;
  font-weight: 500;
}

.nav-tabs.bancos .nav-link {
  color: #000000;
  padding: 0.5rem 1.25rem;
  width: 25%;
}

.nav-tabs.bancos .nav-link:focus, .nav-tabs.bancos .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
  font-weight: 500;
}

.vh-95 {
  height: 95vh;
}
@media (max-width: 1399px) {
  .vh-95 {
    height: 100vh;
  }
}

.vh-80 {
  height: 80vh;
}

.login .card {
  border-radius: 0.65rem;
}
.login .text-browsers {
  font-size: 12.5px;
  padding: 1.2rem 0;
}
.login .text-browsers span {
  vertical-align: text-bottom;
}
.login h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-bottom: 3px;
}
.login .config-lang {
  float: right;
  padding-top: 6px;
}
.login .config-lang .select-lang {
  width: fit-content;
  border: 0;
  display: initial;
  padding: 0 2rem 0 4px;
  font-size: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
}
.login .config-lang .select-lang:focus {
  box-shadow: none;
  outline: none;
}
.login .config-lang .select-lang .fa-globe {
  vertical-align: middle;
  font-size: 14px;
}
.login .login-header {
  padding: 1.25rem 1.25rem 1.05rem;
  border-bottom: 1px solid #BABABA;
}
@media (max-width: 1399px) {
  .login .login-header {
    padding: 1rem 1.25rem 0.5rem;
  }
}
.login .login-header img {
  height: 100%;
  width: 28px;
}
.login .login-header h5 {
  padding-left: 12px;
  font-size: 1.05rem;
}
.login .login-content {
  width: 100%;
  height: 74%;
}
.login .login-content a {
  font-size: 13px;
}
.login .login-content .description p {
  width: 340px;
}
.login .login-content .description a {
  color: #313131;
  margin: 0.55rem 0 1.4rem 0;
}
.login .login-content .log-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
.login .login-content .log-title .separator {
  width: 45%;
  height: 3px;
  background-color: var(--upch-secondary);
  margin: 0 auto;
}
.login form {
  width: 300px;
  margin: 0 auto;
}
.login form .login-control {
  background: #E9ECEF;
  border: 1px solid #E9ECEF;
  border-radius: 6px;
  padding: 0.325rem 0.65rem;
}
.login form .login-control:focus {
  color: #000000;
  background-color: #E9ECEF;
  border-color: #E9ECEF;
  outline: 0;
  box-shadow: none;
}
.login .carousel-item img {
  object-fit: cover;
  border-radius: 0.65rem 0 0 0.65rem;
  height: 79.96vh;
}
.login .carousel-inner {
  border-radius: 0.65rem 0 0 0.65rem;
}
.login .carousel-caption {
  left: 6%;
}
.login .carousel-indicators {
  justify-content: flex-start;
  margin-left: 5%;
}
.login .carousel-indicators [data-bs-target] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
}

.vcode {
  margin: 2.5rem 0;
}

.vcode-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin: 0 3px;
}
.vcode-input:focus {
  border-color: var(--upch-primary);
}

.success-animation {
  margin: 0 auto 40px;
}

.checkmark-animation {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #00A76D;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #00A76D;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 0;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #00A76D;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #00A76D;
  }
}
@media (max-width: 767px) {
  .login h1 {
    width: 160px;
  }
  .login .btn-send {
    width: 100%;
  }
  .login h1.title-success {
    width: auto;
  }
  .login .card {
    border-radius: 0;
  }
  .login .vh-80, .login .vh-95 {
    height: 94vh;
  }
  .login .login-content {
    height: 65vh;
  }
  .login .login-content .description p {
    width: 325px;
  }
  .login .text-browsers {
    display: none;
  }
  .login .login-header {
    border-bottom: 2px solid var(--upch-primary);
  }
}
.home-title {
  width: fit-content;
  margin-bottom: 1rem;
}
.home-title .separator {
  width: 85%;
  height: 3px;
  background-color: var(--upch-secondary);
}

#clock-wrapper {
  text-align: right;
  font-family: var(--font-upch);
  font-weight: 500;
  font-size: 16px;
  color: #2f2f2f;
}
@media (max-width: 767px) {
  #clock-wrapper {
    font-size: 13px;
    margin-bottom: 0.5rem;
  }
  #clock-wrapper svg {
    height: 14px;
    width: 14px;
  }
}

.badge-secondary {
  background: var(--upch-secondary-light);
  border: 1px solid var(--upch-secondary);
  color: var(--upch-secondary);
  font-size: 13px;
  border-radius: 25px;
  padding: 0.15rem 1.25rem;
}

.fs-sm {
  font-size: 13.5px;
}

.fs-reg {
  font-size: 15px;
}

.asig-list {
  background: #F6F6F6;
  padding: 0.35rem 1rem;
  border-radius: 10px;
}
.asig-list p.text-uppercase {
  color: #505050;
}

.site-home .card-profile .card-header {
  height: 85px;
  position: absolute;
  z-index: 0;
  width: 100%;
  background-color: var(--upch-secondary);
  border-radius: 0.45rem 0.45rem 0 0;
  border-bottom: 1px solid rgb(255, 255, 255);
}
@media (min-width: 767px) {
  .site-home .card-profile .card-header {
    display: none;
  }
}
.site-home .card-profile .card-body {
  z-index: 9;
}
.site-home .card-profile .card-body img {
  border: 3px solid white;
}
@media (max-width: 767px) {
  .site-home .card-profile .card-body .student-info-1 {
    display: flex;
    justify-content: space-between !important;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
  }
  .site-home .card-profile .card-body .student-info-1 span, .site-home .card-profile .card-body .student-info-1 p {
    display: block;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .site-home .card-profile .card-body .student-info-2 {
    text-align: left !important;
  }
}
.site-home .card-profile .form-check-inline span {
  font-size: 15px;
}
.site-home .btn-outline-secondary {
  font-size: 12px !important;
  padding: 0.15rem 0.1rem;
  border: 1px solid var(--upch-secondary);
  color: #171717;
  border-radius: 6px;
}
.site-home .btn-outline-secondary svg {
  vertical-align: text-top;
}
.site-home .btn-outline-secondary:hover {
  background: var(--upch-secondary-light);
  border: 1px solid var(--upch-secondary);
  color: #171717;
}
.site-home .btn-outline-secondary:active {
  box-shadow: none;
}
.site-home .btn-outline-secondary:active:focus {
  box-shadow: none;
}
.site-home .btn-outline-secondary:focus {
  color: #000000;
  background-color: white;
  border-color: var(--upch-secondary);
  outline: 0;
  box-shadow: none;
}
.site-home .nav-tabs .nav-item.show .nav-link, .site-home .nav-tabs .nav-link.active {
  color: black;
  font-weight: 500;
  background-color: #fff;
  border-color: #ffffff #ffffff var(--upch-secondary);
  font-family: var(--font-upch);
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 0;
}
.site-home .card-wrapper {
  display: flex;
}
@media (max-width: 1199px) {
  .site-home .card-wrapper {
    display: block;
  }
}
@media (max-width: 1199px) {
  .site-home .card-wrapper .card.w-50 {
    width: 100% !important;
    margin: 0 0 1rem 0 !important;
  }
}

.modal-groups .table {
  margin-bottom: 0;
  font-size: 14px;
}
.modal-groups .table > :not(:first-child) {
  border-top: 1px solid #D9D9D9;
}
.modal-groups .table-light {
  background: #F6F6F6;
  border-top: 1px solid #D9D9D9;
}
.modal-groups .table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}

.group-list {
  margin-top: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.asign-group-title p {
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #D9D9D9;
  background: #f8f9fa;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.asign-group-content {
  padding: 0.5rem 1rem;
}

@media (max-width: 767px) {
  .site-home .order-wrapper {
    display: flex;
    flex-flow: column;
  }
  .site-home .three {
    order: 3;
  }
  .site-home .two {
    order: 2;
  }
  .site-home .one {
    order: 1;
  }
  .site-home .course-info-1 {
    display: block !important;
    width: 100%;
  }
  .site-home .course-info-1 p {
    width: 59% !important;
    display: table-cell !important;
  }
  .site-home .course-info-1 p span {
    display: block;
  }
  .site-home .course-info-1 p.title-program {
    width: 100% !important;
    display: block !important;
    margin-bottom: 0.5rem !important;
  }
  .site-home .course-info-1 .btn-outline-secondary {
    margin-top: 1.5rem !important;
    width: 175px !important;
  }
  .site-home .asignaturas .course-info-2 {
    display: block !important;
    margin-bottom: 2.2rem !important;
  }
  .site-home .asignaturas .course-info-2 .w-50 {
    width: 100% !important;
  }
  .site-home .asignaturas .course-info-2 .fs-sm {
    font-size: 12px;
  }
  .site-home .asignaturas .course-info-2 .justify-content-end {
    text-align: center !important;
    position: absolute;
    width: 85% !important;
    padding-top: 15px;
    margin-left: -2px;
  }
  .site-home .asignaturas .course-info-2 .icon-obli, .site-home .asignaturas .course-info-2 .icon-ele, .site-home .asignaturas .course-info-2 .icon-com {
    padding: 0 !important;
    height: 17px;
    width: 17px;
    margin: 0 !important;
  }
}
.matricula-title {
  width: fit-content;
  margin-bottom: 1.6rem;
}
.matricula-title .separator {
  width: 75%;
  height: 3px;
  background-color: var(--upch-secondary);
}

.no_seguro {
  display: none;
}

@media (max-width: 767px) {
  div.mx-auto.no_seguro button {
    font-size: 14px;
  }
}

div.form-seguro {
  display: none;
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  div.form-seguro .d-flex {
    display: block !important;
  }
  div.form-seguro .d-flex label.file {
    width: auto;
    max-width: 270px;
  }
}

.accordion-schedule .accordion-body, .accordion-payment .accordion-body {
  padding: 0;
}
.accordion-schedule .accordion-item, .accordion-payment .accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin-bottom: 12px;
  border-radius: 6px !important;
}
.accordion-schedule .accordion-item .accordion-button, .accordion-payment .accordion-item .accordion-button {
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
.accordion-schedule .accordion-item .accordion-button i, .accordion-payment .accordion-item .accordion-button i {
  color: #7e7e7e;
}
.accordion-schedule .accordion-item .accordion-button:focus, .accordion-payment .accordion-item .accordion-button:focus {
  z-index: 3;
  border-color: #fe8686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.1098039216);
}
.accordion-schedule .accordion-item .accordion-button p, .accordion-payment .accordion-item .accordion-button p {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--font-upch) !important;
  width: 86%;
}
.accordion-schedule .accordion-item .accordion-button:after, .accordion-payment .accordion-item .accordion-button:after {
  width: 1.1rem;
  height: 1rem;
  background-size: 1.1rem;
}
.accordion-schedule .accordion-item .title-group, .accordion-payment .accordion-item .title-group {
  padding: 0.38rem 1rem 0.38rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  background: rgba(239, 239, 239, 0.6196078431);
}
.accordion-schedule .accordion-item .title-group p, .accordion-schedule .accordion-item .title-group span, .accordion-payment .accordion-item .title-group p, .accordion-payment .accordion-item .title-group span {
  font-size: 13.5px;
}
.accordion-schedule .accordion-item .item-group, .accordion-payment .accordion-item .item-group {
  padding: 1rem;
}
.accordion-schedule .accordion-item .item-group p, .accordion-schedule .accordion-item .item-group span, .accordion-payment .accordion-item .item-group p, .accordion-payment .accordion-item .item-group span {
  font-size: 13.5px;
}
.accordion-schedule .accordion-item:first-of-type .accordion-button, .accordion-payment .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.accordion-schedule .accordion-item:last-of-type .accordion-button, .accordion-payment .accordion-item:last-of-type .accordion-button {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.accordion-schedule .accordion-button:not(.collapsed), .accordion-payment .accordion-button:not(.collapsed) {
  color: #000000;
  font-weight: 500;
  background-color: rgba(176, 19, 51, 0.01) !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13) !important;
  border: 1px solid var(--upch-primary) !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion-schedule .accordion-button:not(.collapsed) i, .accordion-payment .accordion-button:not(.collapsed) i {
  color: var(--upch-primary);
}
.accordion-schedule .accordion-button:not(.collapsed)::after, .accordion-payment .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4' style='&%2310; fill: %23B01333;&%2310;'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
  transform: rotate(-180deg);
}

.accordion-payment .accordion-button {
  line-height: 0;
  padding: 1rem 1.2rem !important;
}

.accordion-flush .accordion-item {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top: 0 !important;
  border-radius: 0 !important;
}
.accordion-flush .accordion-item .accordion-button {
  padding: 0 0 0.5rem 0 !important;
  background: white !important;
  border: 0 !important;
}
.accordion-flush .accordion-item .accordion-button:focus {
  background: white !important;
  border: 0 !important;
}
.accordion-flush .accordion-item .accordion-button:after {
  content: none !important;
}

@media (max-width: 767px) {
  .steps-container .card {
    background: #f4f4f4;
    box-shadow: none !important;
  }
  .steps-container .card .card-body {
    background-color: #f4f4f4;
    padding: 0;
    box-shadow: none !important;
  }
  .steps-container .card .card-body fieldset {
    position: relative;
    opacity: 1;
    background: #f4f4f4;
    box-shadow: none !important;
    padding: 0;
  }
  .steps-container .card .card-body fieldset .form-body {
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.45rem;
    margin-bottom: 2rem;
  }
  .steps-container .card .card-body fieldset .btn.next, .steps-container .card .card-body fieldset .btn.siguiente {
    width: 100%;
    margin-bottom: 1rem;
  }
  .steps-container .card .card-body fieldset .btn.previous {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
  .steps-container .card .card-body fieldset .form-check-inline .form-check-input {
    position: absolute;
  }
  .steps-container .card .card-body fieldset .form-check-inline .form-check-label {
    margin-left: 1.5rem;
  }
}
.control-label {
  margin-bottom: 10px;
}

fieldset .form-body {
  min-height: 45vh;
}

.icon-pendiente {
  width: 72px;
  height: 72px;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  transform: scale(1);
}

.icon-pendiente.warning {
  border-color: var(--upch-secondary);
}

.icon-pendiente.warning .body {
  position: absolute;
  width: 5px;
  height: 32px;
  left: 50%;
  top: 13px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: var(--upch-secondary);
}

.icon-pendiente.warning .dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 16px;
  background-color: var(--upch-secondary);
}

/*# sourceMappingURL=style.css.map */
