@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url(../assets/icons/font-awesome/css/font-awesome.min.css);
@import url(../assets/icons/font-awesome/css/all.css);
:root {
  --upch-primary: #B80A28;
  --upch-primary-dark: #9b001b;
  --upch-red-dark: #8A0018;
  --upch-secondary: #FFD500;
  --upch-dark: #a70723;
  --upch-web-bg: #F4F4F4;
  --upch-footer-bg: #C3C3C3;
  --font-upch: "Barlow", sans-serif;
}

.va-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-primary {
  color: var(--upch-primary);
}

.btn-send {
  background: var(--upch-primary);
  border: 1px solid var(--upch-primary);
  color: white;
  width: 205px;
  height: 38px;
  border-radius: 10px;
  font-size: 16px;
  padding-bottom: 7px;
}
.btn-send:hover {
  color: #ffffff;
  background-color: var(--upch-primary-dark);
  border: 1px solid var(--upch-primary-dark);
}

.btn-primary {
  background: var(--upch-primary) !important;
  border: 1px solid var(--upch-primary) !important;
  color: white;
  border-radius: 0.45rem;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: var(--upch-primary-dark) !important;
  border: 1px solid var(--upch-primary-dark) !important;
}
.btn-primary:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox input:checked ~ .checkmark {
  background-color: white;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: rgb(247, 247, 247);
}
.container-checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid var(--upch-primary-dark);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid var(--upch-primary-dark);
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.btn-250 {
  width: 250px;
}

.bg-primary-upch {
  background-color: var(--upch-primary);
}

.icon-obli, .icon-ele, .icon-com {
  position: relative;
  top: 2px;
  height: 18px;
  font-size: 12px !important;
  width: 18px;
  line-height: 0.1;
  text-align: center;
  border-radius: 100%;
  color: white;
  font-family: var(--font-upch);
}

.icon-obli {
  background: #FF5B1F;
  border: 1px solid #FF5B1F;
}

.icon-ele {
  background: #85754D;
  border: 1px solid #85754D;
}

.icon-com {
  border: 1px solid #F6CE00;
  background: #F6CE00;
}

@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}
.fw-medium {
  font-weight: 500;
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.css-checkbox + label {
  position: relative;
  font-size: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 16px;
  color: rgb(0, 0, 0);
}

.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 213, 0);
  border-radius: 4px;
  box-shadow: none;
  position: relative;
  top: 1px;
}

.css-checkbox:checked + label::before {
  background-color: rgb(255, 213, 0);
  border-color: rgb(255, 213, 0);
}

.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 1px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 16px;
  width: 16px;
}

body {
  background-color: var(--upch-web-bg);
  overflow-x: hidden;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-upch);
  font-weight: 500;
}

p, label, a, select, input, span {
  font-family: var(--font-upch);
  font-weight: 400;
}

p, label, a {
  font-size: 15px;
}

:focus {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

a {
  color: var(--upch-primary-dark);
}

.card {
  border-radius: 0.45rem;
  border: none;
}

.mx-auto {
  margin: 0 auto;
}

.text-primart {
  color: var(--upch-primary) !important;
}

.text-secondary {
  color: var(--upch-secondary) !important;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.page-wrapper {
  margin-top: 122px;
}
@media (max-width: 767px) {
  .page-wrapper {
    margin-top: 80px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.header .navbar.bg-primary-upch .nav-link {
  width: 100px;
  text-align: center;
  height: 40px;
  border-right: 1px solid var(--upch-red-dark);
  color: white;
}
.header .navbar.bg-primary-upch .nav-link.active {
  background: #A50924;
}
.header .navbar.bg-primary-upch .navbar-nav {
  border-left: 1px solid var(--upch-red-dark);
}
@media (max-width: 767px) {
  .header .navbar-brand svg {
    width: 120px;
  }
}
.header .icon-noti.dropdown-toggle:after {
  border: 0;
}
.header .feather {
  width: 21px;
  height: 21px;
}
.header .crop.crop-round-40 {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-top: 0;
  background: #FFD500;
  border: 1px solid #FFD500 !important;
}
.header .crop.crop-round-40 span {
  color: white;
  position: relative;
  left: 9px;
  top: 4px;
  font-weight: 500;
  font-size: 14px;
}
.header .crop.crop-round-40 img {
  width: 36px;
}
.header .noti {
  position: absolute;
  top: 0px;
  left: 26px;
  font-size: 9px;
  padding: 0.25em 0.45em;
  line-height: 9px;
  font-weight: 400;
}

.footer {
  background-color: var(--upch-footer-bg);
  height: 45px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.modal-footer {
  align-items: center;
  justify-content: center;
  border-top: 0;
  margin-bottom: 1rem;
}
.modal-footer .btn-primary {
  padding: 0.25rem 3rem;
  font-size: 15px;
  border-radius: 6px;
}

.btn-close {
  opacity: 1 !important;
  width: 2em;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

.btn-sumilla {
  padding: 0;
  margin-left: 3px;
}
.btn-sumilla svg {
  vertical-align: initial;
  position: relative;
  top: -2px;
}

.tooltip[data-color=required] .tooltip-inner {
  background-color: #FF5B1F;
}

.tooltip[data-color=required] .tooltip-arrow:before {
  border-right-color: #FF5B1F;
}

.tooltip[data-color=elective] .tooltip-inner {
  background-color: #85754D;
}

.tooltip[data-color=elective] .tooltip-arrow:before {
  border-right-color: #85754D;
}

.tooltip[data-color=complementary] .tooltip-inner {
  background-color: #F6CE00;
}

.tooltip[data-color=complementary] .tooltip-arrow:before {
  border-right-color: #F6CE00;
}

.steps-icon {
  padding: 25px;
  overflow: hidden;
  color: var(--bs-gray-500);
  background: rgba(251, 185, 0, 0.0588235294);
  margin-bottom: 0;
}

.steps-icon .active {
  color: black;
}

.steps-icon li {
  list-style-type: none;
  font-size: 13px;
  width: 16.66%;
  float: left;
  position: relative;
  font-weight: 500;
  font-family: var(--font-upch);
}

.steps-icon li .step-round {
  width: 50px;
  height: 50px;
  line-height: 43px !important;
  display: block;
  font-size: 19px;
  color: #ffffff;
  background: white;
  border: 2px solid var(--bs-gray-300);
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  position: inherit;
  z-index: 2;
  text-align: center;
}

.steps-icon li .step-round i:before {
  color: var(--bs-gray-500);
}

.steps-icon li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--bs-gray-300);
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 1;
}

.steps-icon li:first-child:after {
  width: 50%;
  right: 0;
  left: auto;
}

.steps-icon li:last-child:after {
  width: 50%;
}

.steps-icon li.active .step-round {
  background: white;
  border-color: var(--upch-secondary);
}

.steps-icon li.active:after {
  border: 1px solid var(--upch-secondary);
}

.steps-icon li.active .step-round i:before {
  color: var(--upch-secondary);
}

.steps-icon li.completed .step-round, .steps-icon li.completed:after {
  background: var(--upch-secondary);
  border-color: var(--upch-secondary);
}

.steps-icon li.completed .step-round i:before {
  color: white;
}

.steps-icon li.completed .step-title {
  color: black;
}

.steps-icon .step-round i.fa-edit {
  padding-left: 3px;
  position: relative;
  top: -1px;
}

.site-home .steps-icon li .step-round {
  border: 2px solid var(--upch-secondary);
}
.site-home .steps-icon li .step-round i:before {
  color: var(--upch-secondary);
}
.site-home .steps-icon li:after {
  background: var(--upch-secondary);
}
.site-home .steps-icon li {
  color: #2B2B2B;
}

.form-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
}
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.search-input {
  border-right-color: white;
}

.form-control-sm, .form-select-sm, .input-group-text {
  border-radius: 0.32rem;
}
.form-control-sm:focus, .form-select-sm:focus, .input-group-text:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #d3d3d3;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.vh-95 {
  height: 95vh;
}
@media (max-width: 1399px) {
  .vh-95 {
    height: 100vh;
  }
}

.vh-80 {
  height: 80vh;
}

.login .card {
  border-radius: 0.65rem;
}
.login .text-browsers {
  font-size: 12.5px;
  padding: 1.2rem 0;
}
.login .text-browsers span {
  vertical-align: text-bottom;
}
.login h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-bottom: 3px;
}
.login .config-lang {
  float: right;
  padding-top: 6px;
}
.login .config-lang .select-lang {
  width: fit-content;
  border: 0;
  display: initial;
  padding: 0 2rem 0 4px;
  font-size: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23b01333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
}
.login .config-lang .select-lang:focus {
  box-shadow: none;
  outline: none;
}
.login .config-lang .select-lang .fa-globe {
  vertical-align: middle;
  font-size: 14px;
}
.login .login-header {
  padding: 1.25rem 1.25rem 1.05rem;
  border-bottom: 1px solid #BABABA;
}
@media (max-width: 1399px) {
  .login .login-header {
    padding: 1rem 1.25rem 0.5rem;
  }
}
.login .login-header img {
  height: 100%;
  width: 28px;
}
.login .login-header h5 {
  padding-left: 12px;
  font-size: 1.05rem;
}
.login .login-content {
  width: 100%;
  height: 74%;
}
.login .login-content a {
  font-size: 13px;
}
.login .login-content .description p {
  width: 340px;
}
.login .login-content .description a {
  color: #313131;
  margin: 0.55rem 0 1.4rem 0;
}
.login .login-content .log-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
.login .login-content .log-title .separator {
  width: 45%;
  height: 3px;
  background-color: var(--upch-secondary);
  margin: 0 auto;
}
.login form {
  width: 300px;
  margin: 0 auto;
}
.login form .login-control {
  background: #E9ECEF;
  border: 1px solid #E9ECEF;
  border-radius: 6px;
  padding: 0.325rem 0.65rem;
}
.login form .login-control:focus {
  color: #000000;
  background-color: #E9ECEF;
  border-color: #E9ECEF;
  outline: 0;
  box-shadow: none;
}
.login .carousel-item img {
  object-fit: cover;
  border-radius: 0.65rem 0 0 0.65rem;
  height: 79.95vh;
}
.login .carousel-inner {
  border-radius: 0.65rem 0 0 0.65rem;
}
.login .carousel-caption {
  left: 6%;
}
.login .carousel-indicators {
  justify-content: flex-start;
  margin-left: 5%;
}
.login .carousel-indicators [data-bs-target] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
}

.vcode {
  margin: 2.5rem 0;
}

.vcode-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin: 0 3px;
}
.vcode-input:focus {
  border-color: var(--upch-primary);
}

.success-animation {
  margin: 0 auto 40px;
}

.checkmark-animation {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #00A76D;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #00A76D;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 0;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #00A76D;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #00A76D;
  }
}
@media (max-width: 767px) {
  .login h1 {
    width: 160px;
  }
  .login .btn-send {
    width: 100%;
  }
  .login h1.title-success {
    width: auto;
  }
  .login .card {
    border-radius: 0;
  }
  .login .vh-80, .login .vh-95 {
    height: 94vh;
  }
  .login .login-content {
    height: 65vh;
  }
  .login .login-content .description p {
    width: 325px;
  }
  .login .text-browsers {
    display: none;
  }
  .login .login-header {
    border-bottom: 2px solid var(--upch-primary);
  }
}
.home-title {
  width: fit-content;
  margin-bottom: 1.6rem;
}
.home-title .separator {
  width: 85%;
  height: 3px;
  background-color: var(--upch-secondary);
}

#clock-wrapper {
  text-align: right;
  font-family: var(--font-upch);
  font-weight: 500;
  font-size: 16px;
  color: #2f2f2f;
}

.badge-secondary {
  background: rgba(255, 213, 0, 0.1);
  border: 1px solid #FFD500;
  color: #F6CE00;
  font-size: 13px;
  border-radius: 25px;
  padding: 0.15rem 1.25rem;
}

.fs-sm {
  font-size: 13.5px;
}

.fs-reg {
  font-size: 15px;
}

.asig-list {
  background: #F6F6F6;
  padding: 0.5rem 1.1rem;
  border-radius: 10px;
}
.asig-list p.text-uppercase {
  color: #505050;
}

.site-home .btn-outline-secondary {
  font-size: 12px !important;
  padding: 0.15rem 0.1rem;
  border: 1px solid #FFD500;
  color: #171717;
  border-radius: 6px;
}
.site-home .btn-outline-secondary svg {
  vertical-align: text-top;
}
.site-home .btn-outline-secondary:hover {
  background: rgba(255, 213, 0, 0.0784313725);
  border: 1px solid #FFD500;
  color: #171717;
}
.site-home .btn-outline-secondary:active {
  box-shadow: none;
}
.site-home .btn-outline-secondary:active:focus {
  box-shadow: none;
}
.site-home .btn-outline-secondary:focus {
  color: #000000;
  background-color: white;
  border-color: #FFD500;
  outline: 0;
  box-shadow: none;
}
.site-home .nav-tabs .nav-item.show .nav-link, .site-home .nav-tabs .nav-link.active {
  color: black;
  font-weight: 500;
  background-color: #fff;
  border-color: #ffffff #ffffff #FFD500;
  font-family: var(--font-upch);
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 0;
}
.site-home .card-wrapper {
  display: flex;
}
@media (max-width: 1199px) {
  .site-home .card-wrapper {
    display: block;
  }
}
@media (max-width: 1199px) {
  .site-home .card-wrapper .card.w-50 {
    width: 100% !important;
    margin: 0 0 1rem 0 !important;
  }
}

@media (max-width: 767px) {
  .site-home .order-wrapper {
    display: flex;
    flex-flow: column;
  }
  .site-home .three {
    order: 3;
  }
  .site-home .two {
    order: 2;
  }
  .site-home .one {
    order: 1;
  }
}

/*# sourceMappingURL=style.css.map */
